.box::before {
  content: 'Это текст в ::before';
  font-size: 40px;
  color: orange;
}

.box::after {
  content: 'Это текст в ::after';
  font-size: 30px;
  color: teal;
}
/* Псевдоэлемент-иконка */
body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  /* background-image: linear-gradient(to right, #f44336 15%, #09792b 40%, #00b9ff 65%, #ffb800); */
  /* background-image: linear-gradient(to right, #f1f2b5, #135058); */
}

.list {
  padding: 20px;
  margin: 0;
  list-style: none;
}
div {
  box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green, 0 22.3px 17.9px purple,
    0 41.8px 33.4px orange, 0 100px 80px teal;
}

.list-item:not(:last-child) {
  margin-bottom: 5px;
}

.list-link {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  font-size: 32px;
}

.list-link::before,
.list-link::after {
  content: '';
  width: 24px;
  height: 24px;
}

/* Adds a fire icon in front of the link text */
.list-link::before {
  margin-right: 16px;
  background-image: url('https://image.flaticon.com/icons/svg/785/785116.svg');
}

/* Adds and hides the cat icon after the link text */
.list-link::after {
  display: none;
  margin-left: 16px;
  background-image: url('https://image.flaticon.com/icons/svg/616/616430.svg');
}

.list-link:hover {
  color: #2196f3;
}

/* Show the cat icon on hover */
.list-link:hover::after {
  display: block;
}
.faq {
  padding-left: 15px;
  background-color: #f9f9fd;
}
/* <!-- переход --> */
.box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Задаём значения перехода  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* При ховере меняем значения анимируемых свойств */
.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}
